body {
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    position: relative; /* 添加这一行 */
    border: 3px solid #000;
    overflow: hidden;
}

#game-canvas {
    display: block;
}

#enemy-gif {
    position: absolute;
    visibility: hidden;
}
